section.first-screen
	.container
		.first-screen__wrapper
			.first-screen__left-block
				.first-screen-slider.swiper-container
					.first-screen-slider__wrapper.swiper-wrapper
						.first-screen-slider__slide.swiper-slide
							a.first-screen-slider__block(href="#" style="background-image: url(img/first-screen-slider1.jpg)")
								.first-screen-slider__wrap-text
									.category-flag.category-flag--violet
										.category-flag__wrap-svg
											svg.category-flag__svg
												use(xlink:href="img/sprite.svg#team")
										span.category-flag__text ОБЩЕСТВО
									.first-screen-slider__wrap
										span.first-screen-slider__caption План выполнен: в Краснодаре обновили около 65 км дорог
										span.date Сегодня 05:42
						.first-screen-slider__slide.swiper-slide
							a.first-screen-slider__block(href="#" style="background-image: url(img/first-screen-slider1.jpg)")
								.first-screen-slider__wrap-text
									.category-flag.category-flag--violet
										.category-flag__wrap-svg
											svg.category-flag__svg
												use(xlink:href="img/sprite.svg#team")
										span.category-flag__text ОБЩЕСТВО
									.first-screen-slider__wrap
										span.first-screen-slider__caption План выполнен: в Краснодаре обновили около 65 км дорог
										span.date Сегодня 05:42
						.first-screen-slider__slide.swiper-slide
							a.first-screen-slider__block(href="#" style="background-image: url(img/first-screen-slider1.jpg)")
								.first-screen-slider__wrap-text
									.category-flag.category-flag--violet
										.category-flag__wrap-svg
											svg.category-flag__svg
												use(xlink:href="img/sprite.svg#team")
										span.category-flag__text ОБЩЕСТВО
									.first-screen-slider__wrap
										span.first-screen-slider__caption План выполнен: в Краснодаре обновили около 65 км дорог
										span.date Сегодня 05:42
					.first-screen-slider__arrow.first-screen-slider__arrow--prev
						svg
							use(xlink:href="img/sprite.svg#arrow")
					.first-screen-slider__arrow.first-screen-slider__arrow--next
						svg
							use(xlink:href="img/sprite.svg#arrow")

					.first-screen-slider__pagination


			.first-screen__right-block
				.first-screen-news#blockNewsPosts
					.first-screen-news__row-title
						h3.first-screen-news__title Новости
					.first-screen-news__block-posts
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption Ко Дню города в Краснодаре проведут масштабный субботник
							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--violet Общество
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption.first-screen-news__caption--lightning В Краснодарском фитнес-центре медработник спас мужчину после остановки сердца

							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--red Происшествия
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption Ко Дню города в Краснодаре проведут масштабный субботник
							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--violet Общество
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption Ко Дню города в Краснодаре проведут масштабный субботник
							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--violet Общество
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption Ко Дню города в Краснодаре проведут масштабный субботник
							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--violet Общество
						a.first-screen-news__row(href="#")
							h4.first-screen-news__caption Ко Дню города в Краснодаре проведут масштабный субботник
							.first-screen-news__wrap
								span.first-screen-news__date Сегодня 09:43
								span.first-screen-news__category.first-screen-news__category--violet Общество
