section.gray-bg-page
section.search-drop
	.container
		.search-drop__wrapper
			.search-drop__left
				input.search-drop__field(type="text" placeholder="Поиск по сайту")
				.search-drop__row
					span.search-drop__text Например,
					a.search-drop__link-text(href="#") Детские сады в Краснодаре
			.search-drop__right
				a.link-row-all(href="#")
					.link-row-all__wrapper
						span.link-row-all__text Найти
				.search-drop__close
		.search-drop__down
			a.search-drop__link(href="#") Врач скорой помощь спас мужчину в фитнес-клубе после остановки сердца
			a.search-drop__link(href="#") Врач скорой помощи рассказал о правильном застолье
			a.search-drop__link(href="#") Краснодарские реформы не минут
			a.search-drop__link(href="#") Врач скорой помощь спас мужчину в фитнес-клубе после остановки сердца
		.search-drop__wrap
			a.search-drop__over-row(href="#")
				span.search-drop__text Все результаты
				span.search-drop__value 128
				svg.search-drop__arrow
					use(xlink:href="img/sprite.svg#arrow-long")

section.page-header

	.page-header__wrapper
		a.logo(href="#")
			.logo__wrap
				img.logo__img(src="img/logo.png")
		.video-block
			.video-block__wrapper
				.video-block__block
					.video-block__close
					.video-block__wrap-play
						svg.video-block__play
							use(xlink:href="img/sprite.svg#play-two")
					.video-block__wrap
						video.video-block__video(poster="img/video-poster.jpg")
							source(src="video/compose_2.mp4" type='video/mp4')

		.page-header__up
			.program-guide.swiper-container
				.program-guide__wrapper.swiper-wrapper
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							.rec-cicle
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link.progress-bar(href="#")
							.time-bar
							span Экскурсионный Краснодар 12+
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Экскурсионный Краснодар 12+
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Экскурсионный Краснодар 12+
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Экскурсионный Краснодар 12+
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Экскурсионный Краснодар 12+
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Прямой эфир
					.program-guide__item.swiper-slide
						a.program-guide__link(href="#")
							span Экскурсионный Краснодар 12+
		.page-header__down
			.burger
				.burger__line
				.burger__line
				.burger__line
			nav.nav
				ul.nav__list
					li.nav__item
						a.nav__link(href="#") Главное
					li.nav__item
						a.nav__link(href="#") Видео
					li.nav__item
						a.nav__link(href="#") Интересное
					li.nav__item
						a.nav__link(href="#") Новости
			.search-icon
				svg.search-icon__svg
					use(xlink:href="img/sprite.svg#search")