section.mob-menu
	.close-menu
	.mob-menu__up
		.menu-video
			img(src="img/video-img.jpg")
		.menu-ether.progress-bar
			.time-bar
			span.menu-ether__caption <span class="rec-cicle"></span> Прямой эфир
			.menu-ether__wrap-text
				span.menu-ether__text Экскурсионный Краснодар
				span.menu-ether__old 12+

	.mob-menu__middle
		nav.mob-menu-nav
			ul.mob-menu-nav__list
				li.mob-menu-nav__item
					a.mob-menu-nav__caption(href="#") Видео
					ul.mob-menu-nav__sub-list
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Новости
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Проекты
				li.mob-menu-nav__item
					a.mob-menu-nav__caption(href="#") Телепрограмма
				li.mob-menu-nav__item
					a.mob-menu-nav__caption(href="#") Фотогалерея
				li.mob-menu-nav__item
					a.mob-menu-nav__caption(href="#") О канале
				li.mob-menu-nav__item
					a.mob-menu-nav__caption(href="#") Новости
					ul.mob-menu-nav__sub-list
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Все Новости
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Общество
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Политика
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Происшествия
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Спорт
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Экономика
						li.mob-menu-nav__sub-item
							a.mob-menu-nav__link(href="#") Культура

	.mob-menu__down
		.menu-soc-row
			.menu-soc-row__wrap
				span.menu-soc-row__text Ищите нас в соцсетях
				span.menu-soc-row__hash #ВашКраснодар
			a.logo(href="#")
				.logo__wrap
					img.logo__img(src="img/logo.png")
		.mob-menu__down-row
			span.mob-menu__text Подпишись, и будь в эпицентре жизни Краснодара
			.mob-menu__wrap-arrow
				a.link-square(href="#") 
					svg
						use(xlink:href="img/sprite.svg#arrow")