.modal-container.overlay_popup(id="modal1")

	.modal-container__container
		.modal-container__wrapper


			.my-modal
				.my-modal__close.close-popup
				.my-modal__block
					h3.my-modal__title Заголовок окна
					p.my-modal__text Неоднородность отклоняет межядерный газ. Кристаллическая решетка синхронизует
					input.my-modal__field(type="email" placeholder="Ваш email")
					.check-wrapper
						label.check-wrapper__wrap
							input.check-wrapper__check(type="checkbox")
							span.check-wrapper__square
						span.check-wrapper__text Я выражаю своё согласие с <a href="#">Политикой<br> конфиденциальности этого сайта</a>
				a.link-row-all(href="#")
					.link-row-all__wrapper
						span.link-row-all__text Отправить
						svg.link-row-all__arrow
							use(xlink:href="img/sprite.svg#arrow-long")

.modal-container.overlay_popup(id="modal2")

	.modal-container__container
		.modal-container__wrapper


			.my-modal
				.my-modal__close.close-popup
				.my-modal__block
					h3.my-modal__title Заголовок окна
					p.my-modal__text Неоднородность отклоняет межядерный газ. Кристаллическая решетка синхронизует
					input.my-modal__field(type="tel" placeholder="Ваш email")
					.input-file
						label.mb-1
							button.input-file__btn(type="button" id="buttonFile") Приложить файл
							input(type="file" id="loader" multiple)
						.input-file__wrap
							.input-file__list(id="listFile")

					.check-wrapper
						label.check-wrapper__wrap
							input.check-wrapper__check(type="checkbox")
							span.check-wrapper__square
						span.check-wrapper__text Я выражаю своё согласие с <a href="#">Политикой<br> конфиденциальности этого сайта</a>
				a.link-row-all(href="#")
					.link-row-all__wrapper
						span.link-row-all__text Отправить
						svg.link-row-all__arrow
							use(xlink:href="img/sprite.svg#arrow-long")


.modal-container.overlay_popup(id="modal3")
	.modal-container__container
		.modal-container__wrapper
			.my-modal.modal-video
				.my-modal__close.close-popup
				.my-modal__wrap-video
					iframe(src="https://www.youtube.com/embed/m0OptnFGjM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.my-modal__block
					.my-modal__scroll
						.my-modal__wrap-text
							h4 #КРАСНОДАРСЕГОДНЯ 
								span 12
							p Россиян ждет короткая рабочая неделя 

							p Почти 500 человек планируют переселить из аварийного жилья в Краснодарском крае в текущем году

							p Россиян ждет короткая рабочая неделя 

							p Почти 500 человек планируют переселить из аварийного жилья в Краснодарском крае в текущем году

							p Россиян ждет короткая рабочая неделя 

							p Почти 500 человек планируют переселить из аварийного жилья в Краснодарском крае в текущем году 
