section.nav-fixed
	a.nav-fixed__wrap(href="#")
		svg.nav-fixed__svg
			use(xlink:href="img/sprite.svg#tv-icon")
		span.nav-fixed__caption Главное
	a.nav-fixed__wrap(href="#")
		svg.nav-fixed__svg
			use(xlink:href="img/sprite.svg#play-two")
		span.nav-fixed__caption Видео
	a.nav-fixed__wrap(href="#")
		svg.nav-fixed__svg
			use(xlink:href="img/sprite.svg#eye")
		span.nav-fixed__caption Интересное
	.nav-fixed__wrap
		.burger
			.burger__line
			.burger__line
			.burger__line
		span.nav-fixed__caption Меню