doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title МТРК

		include includes/link.pug

	body
		section.page-flex-container
			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

			.content-page
				include includes/mobile-menu.pug
				header
					include includes/header.pug

				main
					section.fixed-header
						.container
							.fixed-header__wrapper
								.fixed-header__left
									a.fixed-header__link-back(href="#")
										svg.search-drop__arrow
											use(xlink:href="img/sprite.svg#arrow")
										.breadcrumbs__wrap-img.breadcrumbs__wrap-img--violet
												img.breadcrumbs__icon(src="img/team.svg")
										a.breadcrumbs__link(href="#") ОБЩЕСТВО
									span.fixed-header__name-page Спортивная площадка в Западном округе Краснодара получила новую жизнь
								.fixed-header__right
									.social
											ul.social__list
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M5.88053 3.09868C5.88053 3.50189 5.88053 5.30157 5.88053 5.30157H4.26663V7.99526H5.88053V16H9.19583V7.99548H11.4205C11.4205 7.99548 11.6289 6.70388 11.7299 5.29163C11.4403 5.29163 9.20837 5.29163 9.20837 5.29163C9.20837 5.29163 9.20837 3.72453 9.20837 3.44985C9.20837 3.17457 9.56983 2.80429 9.9271 2.80429C10.2837 2.80429 11.0363 2.80429 11.7334 2.80429C11.7334 2.43754 11.7334 1.17033 11.7334 9.62223e-09C10.8028 9.62223e-09 9.74411 9.62223e-09 9.27745 9.62223e-09C5.79858 -0.000185988 5.88053 2.69618 5.88053 3.09868Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M11.2335 0H4.76649C2.13823 0 0 2.13823 0 4.76649V11.2335C0 13.8618 2.13823 16 4.76649 16H11.2335C13.8618 16 16 13.8618 16 11.2335V4.76649C16 2.13823 13.8617 0 11.2335 0ZM14.3904 11.2335C14.3904 12.977 12.977 14.3904 11.2335 14.3904H4.76649C3.023 14.3904 1.6096 12.977 1.6096 11.2335V4.76649C1.6096 3.02297 3.023 1.6096 4.76649 1.6096H11.2335C12.977 1.6096 14.3904 3.02297 14.3904 4.76649V11.2335Z")
															path(d="M7.99999 3.86182C5.7182 3.86182 3.86182 5.7182 3.86182 7.99996C3.86182 10.2817 5.7182 12.1381 7.99999 12.1381C10.2818 12.1381 12.1382 10.2817 12.1382 7.99996C12.1382 5.71817 10.2818 3.86182 7.99999 3.86182ZM7.99999 10.5286C6.60348 10.5286 5.47142 9.39649 5.47142 7.99999C5.47142 6.60348 6.60351 5.47142 7.99999 5.47142C9.39649 5.47142 10.5286 6.60348 10.5286 7.99999C10.5286 9.39646 9.39646 10.5286 7.99999 10.5286Z")
															path(d="M12.1462 4.88455C12.6938 4.88455 13.1378 4.4406 13.1378 3.89296C13.1378 3.34532 12.6938 2.90137 12.1462 2.90137C11.5986 2.90137 11.1546 3.34532 11.1546 3.89296C11.1546 4.4406 11.5986 4.88455 12.1462 4.88455Z")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M15.9152 11.6798C15.8958 11.638 15.8777 11.6034 15.861 11.5757C15.5834 11.0757 15.0529 10.462 14.2698 9.73446L14.2533 9.7178L14.245 9.70963L14.2366 9.70125H14.2282C13.8728 9.36247 13.6478 9.13468 13.5535 9.01805C13.3811 8.79589 13.3425 8.57101 13.4367 8.34316C13.5033 8.17101 13.7534 7.80745 14.1865 7.25199C14.4143 6.95761 14.5947 6.72168 14.7279 6.54393C15.6888 5.26652 16.1053 4.45023 15.9775 4.09476L15.9279 4.01169C15.8946 3.96167 15.8085 3.91592 15.6698 3.8742C15.5308 3.83256 15.3531 3.82568 15.1365 3.85342L12.7373 3.87C12.6985 3.85622 12.643 3.85751 12.5707 3.8742C12.4985 3.89089 12.4623 3.89926 12.4623 3.89926L12.4206 3.92012L12.3874 3.94519C12.3597 3.96176 12.3291 3.99091 12.2958 4.03258C12.2626 4.0741 12.2348 4.12282 12.2127 4.17835C11.9515 4.85035 11.6545 5.47514 11.3212 6.05269C11.1157 6.39708 10.927 6.69554 10.7546 6.94825C10.5825 7.20087 10.4381 7.387 10.3215 7.50631C10.2048 7.62573 10.0995 7.72141 10.0049 7.79368C9.91046 7.86598 9.83836 7.89653 9.78844 7.88536C9.7384 7.87418 9.69128 7.8631 9.64666 7.85201C9.56896 7.802 9.50646 7.73398 9.45934 7.64791C9.41201 7.56183 9.38015 7.4535 9.36349 7.32298C9.34692 7.19238 9.33711 7.08005 9.33431 6.9856C9.33171 6.89126 9.33291 6.75783 9.33854 6.58568C9.34432 6.41344 9.34692 6.29691 9.34692 6.23581C9.34692 6.02474 9.35103 5.79566 9.35929 5.54852C9.36769 5.30138 9.37449 5.10557 9.38018 4.96131C9.38584 4.81691 9.38847 4.66414 9.38847 4.50307C9.38847 4.34201 9.37866 4.2157 9.35929 4.12402C9.34015 4.03246 9.31077 3.94358 9.27205 3.85742C9.23309 3.77135 9.17608 3.70476 9.10127 3.65749C9.02631 3.61028 8.93311 3.57282 8.82221 3.54498C8.52783 3.47837 8.15298 3.44233 7.69748 3.43673C6.66455 3.42564 6.00084 3.49235 5.70649 3.63675C5.58987 3.69776 5.48433 3.78112 5.38997 3.88657C5.28998 4.0088 5.27603 4.0755 5.34821 4.08647C5.68149 4.13639 5.91742 4.25582 6.05628 4.44463L6.10632 4.54468C6.14524 4.61687 6.18411 4.74467 6.223 4.9279C6.26184 5.11114 6.2869 5.31384 6.29793 5.53589C6.32565 5.94137 6.32565 6.28848 6.29793 6.57722C6.27012 6.86608 6.24386 7.09096 6.2188 7.25202C6.19374 7.41308 6.15627 7.5436 6.10632 7.64353C6.05628 7.7435 6.02299 7.80459 6.0063 7.82677C5.98964 7.84895 5.97575 7.86292 5.96472 7.86841C5.89253 7.89607 5.81746 7.91016 5.73975 7.91016C5.66194 7.91016 5.56757 7.87124 5.45652 7.79345C5.3455 7.71566 5.23028 7.60881 5.11085 7.47272C4.99143 7.33661 4.85674 7.1464 4.70674 6.90206C4.55685 6.65772 4.40133 6.36895 4.24027 6.03574L4.10701 5.79408C4.02371 5.63862 3.90991 5.41226 3.76551 5.1152C3.62102 4.81802 3.49331 4.53056 3.38229 4.25287C3.33791 4.13625 3.27124 4.04746 3.18239 3.98636L3.14069 3.96129C3.11297 3.93912 3.06848 3.91557 3.00744 3.89048C2.94631 3.86542 2.88253 3.84744 2.81582 3.83638L0.533257 3.85296C0.300008 3.85296 0.141747 3.9058 0.0584144 4.01133L0.0250639 4.06126C0.00840327 4.08907 0 4.13347 0 4.1946C0 4.2557 0.0166606 4.33069 0.0500111 4.41948C0.383224 5.20262 0.745586 5.95789 1.1371 6.68541C1.52861 7.41294 1.86882 7.99898 2.15754 8.44301C2.44631 8.88736 2.74066 9.30674 3.04058 9.70093C3.3405 10.0953 3.53903 10.348 3.63617 10.459C3.73342 10.5702 3.8098 10.6534 3.86533 10.7089L4.07363 10.9088C4.20692 11.0421 4.40264 11.2018 4.6609 11.3878C4.91921 11.5739 5.20518 11.7572 5.51896 11.9378C5.8328 12.1182 6.19791 12.2653 6.61448 12.3792C7.031 12.4931 7.4364 12.5388 7.83074 12.5168H8.78877C8.98307 12.5 9.13027 12.4389 9.23032 12.3334L9.26347 12.2917C9.28576 12.2585 9.30662 12.207 9.32588 12.1377C9.34537 12.0683 9.35506 11.9918 9.35506 11.9087C9.34937 11.6699 9.36755 11.4547 9.40909 11.2631C9.45061 11.0716 9.49794 10.9272 9.55087 10.8299C9.60377 10.7328 9.66347 10.6508 9.72991 10.5843C9.79649 10.5177 9.84394 10.4774 9.87177 10.4635C9.89943 10.4495 9.92152 10.44 9.93818 10.4343C10.0715 10.3899 10.2283 10.4329 10.409 10.5636C10.5895 10.6941 10.7588 10.8552 10.9172 11.0467C11.0755 11.2384 11.2657 11.4535 11.4878 11.6923C11.71 11.9311 11.9044 12.1087 12.0709 12.2255L12.2375 12.3254C12.3487 12.3921 12.4931 12.4532 12.6708 12.5088C12.8483 12.5643 13.0037 12.5781 13.1372 12.5504L15.2698 12.5171C15.4807 12.5171 15.6448 12.4822 15.7612 12.4129C15.8779 12.3435 15.9472 12.267 15.9695 12.1838C15.9918 12.1006 15.993 12.0061 15.9738 11.9005C15.954 11.7951 15.9346 11.7214 15.9152 11.6798Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M12.677 2.33887H3.323C1.48775 2.33887 0 3.82662 0 5.66186V10.3379C0 12.1731 1.48775 13.6609 3.323 13.6609H12.677C14.5122 13.6609 16 12.1731 16 10.3379V5.66186C16 3.82662 14.5122 2.33887 12.677 2.33887ZM10.4297 8.22737L6.05451 10.3141C5.93793 10.3697 5.80327 10.2847 5.80327 10.1555V5.85171C5.80327 5.72072 5.94147 5.63583 6.05829 5.69504L10.4335 7.91216C10.5636 7.97807 10.5613 8.16462 10.4297 8.22737Z")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M7.21251 11.2701C5.97213 11.1407 4.85375 10.8352 3.89624 10.0863C3.77744 9.99318 3.65477 9.90336 3.54635 9.7993C3.12725 9.39679 3.08503 8.9358 3.41665 8.46073C3.70035 8.0542 4.17659 7.94544 4.6716 8.17887C4.76745 8.22411 4.85878 8.28059 4.94625 8.34125C6.73073 9.56738 9.18215 9.60123 10.9733 8.39638C11.1508 8.26031 11.3405 8.14938 11.5603 8.09274C11.9878 7.98298 12.3865 8.13999 12.6159 8.51402C12.878 8.94116 12.8746 9.35808 12.5517 9.6897C12.0564 10.1981 11.4606 10.5659 10.7987 10.8227C10.1728 11.0653 9.4873 11.1875 8.8088 11.2686C8.91119 11.38 8.95945 11.4348 9.02346 11.4992C9.94478 12.4248 10.8701 13.3466 11.7884 14.2752C12.1013 14.5915 12.1666 14.9838 11.9944 15.3518C11.806 15.754 11.3844 16.0186 10.971 15.9903C10.7091 15.9722 10.5048 15.8418 10.3233 15.659C9.62806 14.9594 8.91974 14.2726 8.23855 13.5598C8.04031 13.3525 7.94497 13.3917 7.77002 13.5717C7.07057 14.2918 6.35973 15.0008 5.6447 15.7057C5.32363 16.0223 4.94156 16.0792 4.56922 15.8984C4.17341 15.7066 3.92155 15.3025 3.94099 14.8965C3.95439 14.6219 4.08946 14.4121 4.27798 14.2239C5.18974 13.3135 6.09899 12.4007 7.00857 11.4888C7.06873 11.4281 7.12487 11.3638 7.21251 11.2701Z")
																path(d="M7.96805 8.09863C5.75525 8.09109 3.94078 6.25667 3.95368 4.04036C3.96642 1.79958 5.78207 -0.00618427 8.01665 1.59188e-05C10.2558 0.00604853 12.053 1.83778 12.0417 4.10186C12.0303 6.31365 10.2033 8.10634 7.96805 8.09863ZM9.97909 4.04572C9.97523 2.94527 9.09883 2.0692 8.00056 2.0682C6.89307 2.06702 6.00879 2.95901 6.01734 4.06952C6.02555 5.16578 6.90949 6.03565 8.01078 6.03162C9.10872 6.02777 9.98277 5.146 9.97909 4.04572Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M0.282607 6.71486L3.96933 8.09086L5.39631 12.68C5.48762 12.974 5.84703 13.0826 6.08559 12.8876L8.14063 11.2122C8.35605 11.0367 8.66287 11.028 8.88799 11.1914L12.5946 13.8824C12.8498 14.0679 13.2113 13.9281 13.2753 13.6197L15.9906 0.558861C16.0604 0.222008 15.7294 -0.0590057 15.4087 0.0650476L0.278287 5.9019C-0.0950995 6.0459 -0.0918461 6.57454 0.282607 6.71486ZM5.16634 7.35838L12.3716 2.92067C12.5011 2.84115 12.6343 3.01625 12.5231 3.11939L6.57669 8.64686C6.36767 8.84142 6.23285 9.10179 6.19466 9.38441L5.9921 10.8855C5.96527 11.086 5.68373 11.1058 5.62842 10.9119L4.84938 8.17454C4.76015 7.86233 4.89018 7.52883 5.16634 7.35838Z")
					section.breadcrumbs
						.center-wrap
							.container
								.breadcrumbs__wrapper
									ul.breadcrumbs__list
										li.breadcrumbs__item
											a.breadcrumbs__link(href="#") Главная
										li.breadcrumbs__item
											a.breadcrumbs__link(href="#") Новости	
										li.breadcrumbs__item
											.breadcrumbs__wrap-img.breadcrumbs__wrap-img--violet
												img.breadcrumbs__icon(src="img/team.svg")
											a.breadcrumbs__link(href="#") ОБЩЕСТВО
										li.breadcrumbs__item
											span.breadcrumbs__link.breadcrumbs__link--active Спортивная площадка в Западном округе Краснодара получила новую жизнь	
					section#infinity-scroll.infinity-scroll
						article.infinity-block
							.bg-shadow(style="box-shadow: 0 0 1000px 0 rgba(0, 0, 0, 0.5);")
							section.center-wrap
								section.row-title-inner.row-title-inner--change
									.container
										h2.title-inner Спортивная площадка в Западном округе Краснодара получила новую жизнь
										span.date-article Сегодня  09:43
										.social
											ul.social__list
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M5.88053 3.09868C5.88053 3.50189 5.88053 5.30157 5.88053 5.30157H4.26663V7.99526H5.88053V16H9.19583V7.99548H11.4205C11.4205 7.99548 11.6289 6.70388 11.7299 5.29163C11.4403 5.29163 9.20837 5.29163 9.20837 5.29163C9.20837 5.29163 9.20837 3.72453 9.20837 3.44985C9.20837 3.17457 9.56983 2.80429 9.9271 2.80429C10.2837 2.80429 11.0363 2.80429 11.7334 2.80429C11.7334 2.43754 11.7334 1.17033 11.7334 9.62223e-09C10.8028 9.62223e-09 9.74411 9.62223e-09 9.27745 9.62223e-09C5.79858 -0.000185988 5.88053 2.69618 5.88053 3.09868Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M11.2335 0H4.76649C2.13823 0 0 2.13823 0 4.76649V11.2335C0 13.8618 2.13823 16 4.76649 16H11.2335C13.8618 16 16 13.8618 16 11.2335V4.76649C16 2.13823 13.8617 0 11.2335 0ZM14.3904 11.2335C14.3904 12.977 12.977 14.3904 11.2335 14.3904H4.76649C3.023 14.3904 1.6096 12.977 1.6096 11.2335V4.76649C1.6096 3.02297 3.023 1.6096 4.76649 1.6096H11.2335C12.977 1.6096 14.3904 3.02297 14.3904 4.76649V11.2335Z")
															path(d="M7.99999 3.86182C5.7182 3.86182 3.86182 5.7182 3.86182 7.99996C3.86182 10.2817 5.7182 12.1381 7.99999 12.1381C10.2818 12.1381 12.1382 10.2817 12.1382 7.99996C12.1382 5.71817 10.2818 3.86182 7.99999 3.86182ZM7.99999 10.5286C6.60348 10.5286 5.47142 9.39649 5.47142 7.99999C5.47142 6.60348 6.60351 5.47142 7.99999 5.47142C9.39649 5.47142 10.5286 6.60348 10.5286 7.99999C10.5286 9.39646 9.39646 10.5286 7.99999 10.5286Z")
															path(d="M12.1462 4.88455C12.6938 4.88455 13.1378 4.4406 13.1378 3.89296C13.1378 3.34532 12.6938 2.90137 12.1462 2.90137C11.5986 2.90137 11.1546 3.34532 11.1546 3.89296C11.1546 4.4406 11.5986 4.88455 12.1462 4.88455Z")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M15.9152 11.6798C15.8958 11.638 15.8777 11.6034 15.861 11.5757C15.5834 11.0757 15.0529 10.462 14.2698 9.73446L14.2533 9.7178L14.245 9.70963L14.2366 9.70125H14.2282C13.8728 9.36247 13.6478 9.13468 13.5535 9.01805C13.3811 8.79589 13.3425 8.57101 13.4367 8.34316C13.5033 8.17101 13.7534 7.80745 14.1865 7.25199C14.4143 6.95761 14.5947 6.72168 14.7279 6.54393C15.6888 5.26652 16.1053 4.45023 15.9775 4.09476L15.9279 4.01169C15.8946 3.96167 15.8085 3.91592 15.6698 3.8742C15.5308 3.83256 15.3531 3.82568 15.1365 3.85342L12.7373 3.87C12.6985 3.85622 12.643 3.85751 12.5707 3.8742C12.4985 3.89089 12.4623 3.89926 12.4623 3.89926L12.4206 3.92012L12.3874 3.94519C12.3597 3.96176 12.3291 3.99091 12.2958 4.03258C12.2626 4.0741 12.2348 4.12282 12.2127 4.17835C11.9515 4.85035 11.6545 5.47514 11.3212 6.05269C11.1157 6.39708 10.927 6.69554 10.7546 6.94825C10.5825 7.20087 10.4381 7.387 10.3215 7.50631C10.2048 7.62573 10.0995 7.72141 10.0049 7.79368C9.91046 7.86598 9.83836 7.89653 9.78844 7.88536C9.7384 7.87418 9.69128 7.8631 9.64666 7.85201C9.56896 7.802 9.50646 7.73398 9.45934 7.64791C9.41201 7.56183 9.38015 7.4535 9.36349 7.32298C9.34692 7.19238 9.33711 7.08005 9.33431 6.9856C9.33171 6.89126 9.33291 6.75783 9.33854 6.58568C9.34432 6.41344 9.34692 6.29691 9.34692 6.23581C9.34692 6.02474 9.35103 5.79566 9.35929 5.54852C9.36769 5.30138 9.37449 5.10557 9.38018 4.96131C9.38584 4.81691 9.38847 4.66414 9.38847 4.50307C9.38847 4.34201 9.37866 4.2157 9.35929 4.12402C9.34015 4.03246 9.31077 3.94358 9.27205 3.85742C9.23309 3.77135 9.17608 3.70476 9.10127 3.65749C9.02631 3.61028 8.93311 3.57282 8.82221 3.54498C8.52783 3.47837 8.15298 3.44233 7.69748 3.43673C6.66455 3.42564 6.00084 3.49235 5.70649 3.63675C5.58987 3.69776 5.48433 3.78112 5.38997 3.88657C5.28998 4.0088 5.27603 4.0755 5.34821 4.08647C5.68149 4.13639 5.91742 4.25582 6.05628 4.44463L6.10632 4.54468C6.14524 4.61687 6.18411 4.74467 6.223 4.9279C6.26184 5.11114 6.2869 5.31384 6.29793 5.53589C6.32565 5.94137 6.32565 6.28848 6.29793 6.57722C6.27012 6.86608 6.24386 7.09096 6.2188 7.25202C6.19374 7.41308 6.15627 7.5436 6.10632 7.64353C6.05628 7.7435 6.02299 7.80459 6.0063 7.82677C5.98964 7.84895 5.97575 7.86292 5.96472 7.86841C5.89253 7.89607 5.81746 7.91016 5.73975 7.91016C5.66194 7.91016 5.56757 7.87124 5.45652 7.79345C5.3455 7.71566 5.23028 7.60881 5.11085 7.47272C4.99143 7.33661 4.85674 7.1464 4.70674 6.90206C4.55685 6.65772 4.40133 6.36895 4.24027 6.03574L4.10701 5.79408C4.02371 5.63862 3.90991 5.41226 3.76551 5.1152C3.62102 4.81802 3.49331 4.53056 3.38229 4.25287C3.33791 4.13625 3.27124 4.04746 3.18239 3.98636L3.14069 3.96129C3.11297 3.93912 3.06848 3.91557 3.00744 3.89048C2.94631 3.86542 2.88253 3.84744 2.81582 3.83638L0.533257 3.85296C0.300008 3.85296 0.141747 3.9058 0.0584144 4.01133L0.0250639 4.06126C0.00840327 4.08907 0 4.13347 0 4.1946C0 4.2557 0.0166606 4.33069 0.0500111 4.41948C0.383224 5.20262 0.745586 5.95789 1.1371 6.68541C1.52861 7.41294 1.86882 7.99898 2.15754 8.44301C2.44631 8.88736 2.74066 9.30674 3.04058 9.70093C3.3405 10.0953 3.53903 10.348 3.63617 10.459C3.73342 10.5702 3.8098 10.6534 3.86533 10.7089L4.07363 10.9088C4.20692 11.0421 4.40264 11.2018 4.6609 11.3878C4.91921 11.5739 5.20518 11.7572 5.51896 11.9378C5.8328 12.1182 6.19791 12.2653 6.61448 12.3792C7.031 12.4931 7.4364 12.5388 7.83074 12.5168H8.78877C8.98307 12.5 9.13027 12.4389 9.23032 12.3334L9.26347 12.2917C9.28576 12.2585 9.30662 12.207 9.32588 12.1377C9.34537 12.0683 9.35506 11.9918 9.35506 11.9087C9.34937 11.6699 9.36755 11.4547 9.40909 11.2631C9.45061 11.0716 9.49794 10.9272 9.55087 10.8299C9.60377 10.7328 9.66347 10.6508 9.72991 10.5843C9.79649 10.5177 9.84394 10.4774 9.87177 10.4635C9.89943 10.4495 9.92152 10.44 9.93818 10.4343C10.0715 10.3899 10.2283 10.4329 10.409 10.5636C10.5895 10.6941 10.7588 10.8552 10.9172 11.0467C11.0755 11.2384 11.2657 11.4535 11.4878 11.6923C11.71 11.9311 11.9044 12.1087 12.0709 12.2255L12.2375 12.3254C12.3487 12.3921 12.4931 12.4532 12.6708 12.5088C12.8483 12.5643 13.0037 12.5781 13.1372 12.5504L15.2698 12.5171C15.4807 12.5171 15.6448 12.4822 15.7612 12.4129C15.8779 12.3435 15.9472 12.267 15.9695 12.1838C15.9918 12.1006 15.993 12.0061 15.9738 11.9005C15.954 11.7951 15.9346 11.7214 15.9152 11.6798Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M12.677 2.33887H3.323C1.48775 2.33887 0 3.82662 0 5.66186V10.3379C0 12.1731 1.48775 13.6609 3.323 13.6609H12.677C14.5122 13.6609 16 12.1731 16 10.3379V5.66186C16 3.82662 14.5122 2.33887 12.677 2.33887ZM10.4297 8.22737L6.05451 10.3141C5.93793 10.3697 5.80327 10.2847 5.80327 10.1555V5.85171C5.80327 5.72072 5.94147 5.63583 6.05829 5.69504L10.4335 7.91216C10.5636 7.97807 10.5613 8.16462 10.4297 8.22737Z")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															g(clip-path="url(#clip0)")
																path(d="M7.21251 11.2701C5.97213 11.1407 4.85375 10.8352 3.89624 10.0863C3.77744 9.99318 3.65477 9.90336 3.54635 9.7993C3.12725 9.39679 3.08503 8.9358 3.41665 8.46073C3.70035 8.0542 4.17659 7.94544 4.6716 8.17887C4.76745 8.22411 4.85878 8.28059 4.94625 8.34125C6.73073 9.56738 9.18215 9.60123 10.9733 8.39638C11.1508 8.26031 11.3405 8.14938 11.5603 8.09274C11.9878 7.98298 12.3865 8.13999 12.6159 8.51402C12.878 8.94116 12.8746 9.35808 12.5517 9.6897C12.0564 10.1981 11.4606 10.5659 10.7987 10.8227C10.1728 11.0653 9.4873 11.1875 8.8088 11.2686C8.91119 11.38 8.95945 11.4348 9.02346 11.4992C9.94478 12.4248 10.8701 13.3466 11.7884 14.2752C12.1013 14.5915 12.1666 14.9838 11.9944 15.3518C11.806 15.754 11.3844 16.0186 10.971 15.9903C10.7091 15.9722 10.5048 15.8418 10.3233 15.659C9.62806 14.9594 8.91974 14.2726 8.23855 13.5598C8.04031 13.3525 7.94497 13.3917 7.77002 13.5717C7.07057 14.2918 6.35973 15.0008 5.6447 15.7057C5.32363 16.0223 4.94156 16.0792 4.56922 15.8984C4.17341 15.7066 3.92155 15.3025 3.94099 14.8965C3.95439 14.6219 4.08946 14.4121 4.27798 14.2239C5.18974 13.3135 6.09899 12.4007 7.00857 11.4888C7.06873 11.4281 7.12487 11.3638 7.21251 11.2701Z")
																path(d="M7.96805 8.09863C5.75525 8.09109 3.94078 6.25667 3.95368 4.04036C3.96642 1.79958 5.78207 -0.00618427 8.01665 1.59188e-05C10.2558 0.00604853 12.053 1.83778 12.0417 4.10186C12.0303 6.31365 10.2033 8.10634 7.96805 8.09863ZM9.97909 4.04572C9.97523 2.94527 9.09883 2.0692 8.00056 2.0682C6.89307 2.06702 6.00879 2.95901 6.01734 4.06952C6.02555 5.16578 6.90949 6.03565 8.01078 6.03162C9.10872 6.02777 9.98277 5.146 9.97909 4.04572Z")
															defs
																clipPath(id="clip0")
																	rect(width="16" height="16" fill="white")
												li.social__item
													a.social__link(href="#")
														svg.social__svg(viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M0.282607 6.71486L3.96933 8.09086L5.39631 12.68C5.48762 12.974 5.84703 13.0826 6.08559 12.8876L8.14063 11.2122C8.35605 11.0367 8.66287 11.028 8.88799 11.1914L12.5946 13.8824C12.8498 14.0679 13.2113 13.9281 13.2753 13.6197L15.9906 0.558861C16.0604 0.222008 15.7294 -0.0590057 15.4087 0.0650476L0.278287 5.9019C-0.0950995 6.0459 -0.0918461 6.57454 0.282607 6.71486ZM5.16634 7.35838L12.3716 2.92067C12.5011 2.84115 12.6343 3.01625 12.5231 3.11939L6.57669 8.64686C6.36767 8.84142 6.23285 9.10179 6.19466 9.38441L5.9921 10.8855C5.96527 11.086 5.68373 11.1058 5.62842 10.9119L4.84938 8.17454C4.76015 7.86233 4.89018 7.52883 5.16634 7.35838Z")

								section.article-inner
									.container
										figure.article-inner__wrap-img
											img.article-inner__img(src="img/post-inner.jpg" title="Фото: пресс-служба администрации Краснодара" alt="Фото: пресс-служба администрации Краснодара")
											figcaption.article-inner__img-name Фото: пресс-служба администрации Краснодара
										.article-inner__wrap-text
											p Её открыли после капитальной реконструкции на минувших выходных. Место для занятий спортом расположено по адресу: ул. Темрюкская, 76/1. В церемонии принял участие председатель комитета по вопросам молодежной политики, спорта и туризма городской Думы Краснодара Дмитрий Коломиец.
										figure.article-inner__wrap-img
											img.article-inner__img(src="img/post-inner.jpg" title="Фото: пресс-служба администрации Краснодара" alt="Фото: пресс-служба администрации Краснодара")
										.article-inner__wrap-text
											p Это первое в городе поле для мини-футбола, построенное по стандартам УЕФА. На площадке уложено  искусственное покрытие, которое используют на профессиональных футбольных стадионах. Его предоставил Российский футбольный союз. Территория площадки – более 1 тыс. м2. Там нанесли разметку и поставили новые ворота для мини-футбола.
										.article-inner__wrap-text
											blockquote В тот же день сборные школ города опробовали новую свежеотстроенную площадку 
											.article-inner__user-info
												img(src="img/user-img.png")
												p Дмитрий Усть-Константинопольский, пресс-атташе Департамента по связям с<br> общественностью МО Краснодар
										.article-inner__wrap-text
											p Отметим, в 2019 году Дмитрий Коломиец по программе наказов избирателей выделил 360 тыс. рублей на развитие спортивной сферы. Из них 250 тыс. рублей были направлены на первостепенные нужды Дворца спорта «Олимп». 
										.article-inner__hash-row
											a.article-inner__hash-link(href="#") #ВашКраснодар
											a.article-inner__hash-link(href="#") #Ремонт
											a.article-inner__hash-link(href="#") #Школы
											a.article-inner__hash-link(href="#") #Спорт
											a.article-inner__hash-link(href="#") #СоциальныйКраснодар
											a.article-inner__hash-link(href="#") #Дороги

							section.additionally-slider(style="background-color: #E7E9EC;")
								.container
									h2.title-page Популярные выпуски
									.additionally-slider__slider.swiper-container
										.additionally-slider__wrapper.swiper-wrapper
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
														span.news-post-md__date Благовест
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43
											.additionally-slider__slide.swiper-slide
												a.interesting-slider__block(href="#" style="background-image: url(img/additionally1.jpg);")
													.interesting-slider__wrap-text
														h3.interesting-slider__title В краснодарском фитнес-центре врач спас мужчину после остановки сердца
														span.interesting-slider__date Сегодня 09:43

							section.show-ba-sect.show-ba-sect--no-offset
								picture
									source(srcset="img/img-ba1-tab.jpg" media="(max-width: 991px)")
									source(srcset="img/img-ba1-tab.jpg" media="(max-width: 575px)")
									img(src="img/img-ba1.jpg")

					.pagination
						a.pagination__next(href="page2.html") Next page


				footer
					include includes/footer.pug
				include includes/nav-fixed.pug

			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

		include includes/script.pug
		script(src="js/infinite-scroll.pkgd.js")
		script(src="js/infinit-script.js")

