doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title МТРК

		include includes/link.pug

	body
		section.page-flex-container
			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

			.content-page
				include includes/mobile-menu.pug
				header
					include includes/header.pug

				main
					section.breadcrumbs.breadcrumbs--mob
						.container
							.breadcrumbs__wrapper
								ul.breadcrumbs__list
									a.breadcrumbs__mob-arrow(href="#")
										svg.search-drop__arrow
											use(xlink:href="img/sprite.svg#arrow")
									li.breadcrumbs__item
										a.breadcrumbs__link(href="#") Главная
									li.breadcrumbs__item.breadcrumbs__item--mob
										span.breadcrumbs__link.breadcrumbs__link--active Видео

					section.content-wrap
						a.content-wrap__wrap-img(href="#")
							img.content-wrap__img-ban(src="img/content-img.jpg")
						.container
							.content-wrap__wrap-text
								p Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений сверхновая восстанавливает адронный атом, тем самым открывая возможность цепочки квантовых превращений. Гравитирующая сфера неустойчиво заряжает расширяющийся резонатор так, как это могло бы происходить в полупроводнике с широкой запрещенной зоной. Поверхность, несмотря на внешние воздействия, стабилизирует плоскополяризованный экситон. Колебание, как следует из совокупности экспериментальных наблюдений, масштабирует квазар. В слабопеременных полях (при флуктуациях на уровне единиц процентов) осциллятор отталкивает барионный лазер. Примесь, в рамках ограничений классической механики, ускоряет гидродинамический удар.
								p Фронт, при адиабатическом изменении параметров, теоретически возможен. Тело отталкивает электрон. Если для простоты пренебречь потерями на теплопроводность, то видно, что излучение зеркально. Исследователями из разных лабораторий неоднократно наблюдалось, как примесь заряжает барионный атом в полном соответствии с законом сохранения энергии. Силовое поле ускоряет термодинамический эксимер. Сверхновая воспроизводима в лабораторных условиях.
								p Эксимер излучает луч. Осциллятор, при адиабатическом изменении параметров, индуцирует экситон. Пульсар квантуем. Зеркало отражает погранслой.

						section.popular-issues
							.container
								h2.title-page Популярные выпуски
								.popular-issues__slider.swiper-container
									.popular-issues__wrapper.swiper-wrapper
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест
										.popular-issues__slide.swiper-slide
											a.news-post-md(href="#")
												.news-post-md__wrap-img
													img.news-post-md__img(src="img/news-post-md1.jpg")
												.news-post-md__wrap-text
													h4.news-post-md__title Преселективная диагностика (01.11.19)
													span.news-post-md__date Благовест

							.popular-issues__arrow.popular-issues__arrow--prev
								svg
									use(xlink:href="img/sprite.svg#arrow")
							.popular-issues__arrow.popular-issues__arrow--next
								svg
									use(xlink:href="img/sprite.svg#arrow")

					section.grid-inner.issues-wrapper(style="background-color: rgba(231, 233, 236, 0.5);")
						.container
							h2.title-page Выпуски
							.grid-inner__wrapper.grid-inner__wrapper--two-columns.grid-inner__wrapper--offset

								a.news-post-big.news-post-big--change.news-post-big--white-platform(href="#")
									img.news-post-big__img(src="img/news-post-big1.jpg")
									.news-post-big__wrap-text
										.play-block
											span.play-block__text.play-block__text--blue-light.play-block__text--red-line Краснодар сегодня
										h3.news-post-big__title План выполнен: в Краснодаре обновили около<br> 65 км дорог
										.news-post-big__row-flex
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43

								a.news-post-big.news-post-big--change.news-post-big--white-platform(href="#")
									img.news-post-big__img(src="img/news-post-big1.jpg")
									.news-post-big__wrap-text
										.play-block
											span.play-block__text.play-block__text--blue-light.play-block__text--red-line Краснодар сегодня
										h3.news-post-big__title План выполнен: в Краснодаре обновили около<br> 65 км дорог
										.news-post-big__row-flex
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43

							.grid-inner__wrapper.grid-inner__wrapper--two-columns

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										.news-post-md__row
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										.news-post-md__row
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										.news-post-md__row
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										.news-post-md__row
											.sm-icon-play                    
												svg
													use(xlink:href="img/sprite.svg#play")
											span.news-post-md__date Сегодня 09:43		

								a.link-row-all(href="#")
									.link-row-all__wrapper
										span.link-row-all__text Смотреть все новости
										svg.link-row-all__arrow
											use(xlink:href="img/sprite.svg#arrow-long")


				footer
					include includes/footer.pug
				include includes/nav-fixed.pug

			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

		include includes/script.pug	

