doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title МТРК

		include includes/link.pug

	body
		section.page-flex-container
			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

			.content-page
				include includes/mobile-menu.pug
				header
					include includes/header.pug

				main
					section.breadcrumbs
						.container
							.breadcrumbs__wrapper
								ul.breadcrumbs__list
									li.breadcrumbs__item
										a.breadcrumbs__link(href="#") Главная
									li.breadcrumbs__item
										span.breadcrumbs__link.breadcrumbs__link--active Видео

					section.row-title-inner
						.container
							.row-title-inner__wrapper
								h2.title-inner Видеорепортажи


					section.grid-inner
						.container
							.grid-inner__wrapper

								a.news-post-big.news-post-big--change(href="#")
									img.news-post-big__img(src="img/news-post-big1.jpg")
									.news-post-big__wrap-text
										span.news-post-big__date Сегодня 05:42
										h3.news-post-big__title План выполнен: в Краснодаре обновили около<br> 65 км дорог
										.news-post-big__row                      
											.play-block
												span.play-block__time 05:54
												.play-block__play
													svg
														use(xlink:href="img/sprite.svg#play")
												span.play-block__text Краснодар сегодня

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-big.news-post-big--change(href="#")
									img.news-post-big__img(src="img/news-post-big1.jpg")
									.news-post-big__wrap-text
										span.news-post-big__date Сегодня 05:42
										h3.news-post-big__title План выполнен: в Краснодаре обновили около<br> 65 км дорог
										.news-post-big__row                      
											.play-block
												span.play-block__time 05:54
												.play-block__play
													svg
														use(xlink:href="img/sprite.svg#play")
												span.play-block__text Краснодар сегодня

								a.news-post-big.news-post-big--change(href="#")
									img.news-post-big__img(src="img/news-post-big1.jpg")
									.news-post-big__wrap-text
										span.news-post-big__date Сегодня 05:42
										h3.news-post-big__title План выполнен: в Краснодаре обновили около<br> 65 км дорог
										.news-post-big__row                      
											.play-block
												span.play-block__time 05:54
												.play-block__play
													svg
														use(xlink:href="img/sprite.svg#play")
												span.play-block__text Краснодар сегодня

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.news-post-md(href="#")
									.news-post-md__wrap-img
										img.news-post-md__img(src="img/news-post-md1.jpg")
										.play-block
											span.play-block__time 05:54
											.play-block__play
												svg
													use(xlink:href="img/sprite.svg#play")
											span.play-block__text Краснодар сегодня
									.news-post-md__wrap-text
										h4.news-post-md__title Ко Дню города в Краснодаре проведут масштабный субботник
										span.news-post-md__date Сегодня 09:43

								a.link-row-all(href="#")
									.container
										.link-row-all__wrapper
											span.link-row-all__text Смотреть все новости
											svg.link-row-all__arrow
												use(xlink:href="img/sprite.svg#arrow-long")


				footer
					include includes/footer.pug
				include includes/nav-fixed.pug

			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

		include includes/script.pug	

