doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title МТРК

		include includes/link.pug

	body
		section.page-flex-container
			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

			.content-page
				include includes/mobile-menu.pug
				header
					include includes/header.pug

				main
					section.breadcrumbs
						.center-wrap
							.container
								.breadcrumbs__wrapper
									ul.breadcrumbs__list
										li.breadcrumbs__item
											a.breadcrumbs__link(href="#") Главная
										li.breadcrumbs__item
											span.breadcrumbs__link.breadcrumbs__link--active Видео

					section.row-title-inner.row-title-inner--change
						.center-wrap
							.container
								h2.title-inner Результаты поиска по запросу «Скорая помощь»
								span.date-article Всего найдено 2 117 совпадений

					section.search-page
						.center-wrap
							.container
								form.search-page__up
									.search-page__wrap
										input.search-page__field(type="text" placeholder="Поиск по сайту")
										a.link-row-all(href="#")
											.link-row-all__wrapper
												span.link-row-all__text Найти
												svg.link-row-all__arrow
													use(xlink:href="img/sprite.svg#arrow-long")
									.search-drop__row
										span.search-drop__text Например,
										a.search-drop__link-text(href="#") Детские сады в Краснодаре

								.search-page__middle
									a.news-post-sm(href="#")
										.news-post-sm__up
											img.news-post-sm__img(src="img/news-post-sm2.jpg")
											.news-post-sm__right
												h5.news-post-sm__title Синоптики рассказали, какая погода будет в Краснодаре на Новый год
												.news-post-sm__down
													.news-post-sm__play-wrap
														.news-post-sm__wrap-svg
															svg
																use(xlink:href="img/sprite.svg#play")
														span.news-post-sm__date Сегодня 09:43
													span.news-post-sm__text Краснодар сегодня
									a.news-post-sm(href="#")
										.news-post-sm__up
											img.news-post-sm__img(src="img/news-post-sm2.jpg")
											.news-post-sm__right
												h5.news-post-sm__title Синоптики рассказали, какая погода будет в Краснодаре на Новый год
												.news-post-sm__down
													.news-post-sm__play-wrap
														.news-post-sm__wrap-svg
															svg
																use(xlink:href="img/sprite.svg#play")
														span.news-post-sm__date Сегодня 09:43
													span.news-post-sm__text Краснодар сегодня
									a.news-post-sm(href="#")
										.news-post-sm__up
											img.news-post-sm__img(src="img/news-post-sm2.jpg")
											.news-post-sm__right
												h5.news-post-sm__title Синоптики рассказали, какая погода будет в Краснодаре на Новый год
												.news-post-sm__down
													.news-post-sm__play-wrap
														.news-post-sm__wrap-svg
															svg
																use(xlink:href="img/sprite.svg#play")
														span.news-post-sm__date Сегодня 09:43
													span.news-post-sm__text Краснодар сегодня
									a.news-post-sm(href="#")
										.news-post-sm__up
											img.news-post-sm__img(src="img/news-post-sm2.jpg")
											.news-post-sm__right
												h5.news-post-sm__title Синоптики рассказали, какая погода будет в Краснодаре на Новый год
												.news-post-sm__down
													.news-post-sm__play-wrap
														.news-post-sm__wrap-svg
															svg
																use(xlink:href="img/sprite.svg#play")
														span.news-post-sm__date Сегодня 09:43
													span.news-post-sm__text Краснодар сегодня

								a.link-row-all(href="#")
									.link-row-all__wrapper
										span.link-row-all__text Смотреть все новости
										svg.link-row-all__arrow
											use(xlink:href="img/sprite.svg#arrow-long")






				footer
					include includes/footer.pug
				include includes/nav-fixed.pug

			.sidebar-page.sidebar-page--inner(style="background-image: url(img/sider-bar.jpg)")
				//- img(src="img/sider-bar.jpg")

		include includes/script.pug